/* _base.standard.scss */
html { 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	@extend .font-josefin-semi-bold;
	background-color:#222222;
	color:#fff;
}

h2 {
	font-size: 70px;
	width: 100%;
	text-align: center;
}

#main {
	width: 840px;
	margin: 20px auto 0;
	height: 620px;
	position: relative;
}

.card {
	width: 388px;
	height: 608px;
	display: block;
	background: url('../img/card-bg.png') no-repeat scroll 0 0;
	position: absolute;

	&.yours {
		top: 0;
		left: 0;
	}

	&.theirs {
		top: 0;
		right: -8px;
	}

	.portrait {
		margin-top: 31px;
		margin-left: 102px;
	}

	h2 {
		width: 100%;
		text-align: center;
		margin: 0;
		font-size: 30px;
		line-height: 31px;
		margin-top: 23px;
		text-transform: uppercase;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0 22px;

		li {
			float: left;
			clear: both;

			a {
				margin: 0;
				padding: 0;
				smargin: 15px 10px;
				padding: 16px 0;
				margin: 0;
				border-top: 1px solid #bababa;
				border-bottom: 1px solid #bababa;
				float: left;
				clear: both;

				&:hover {
					background-color: #fb889b;
					margin: 0;
					border-top: 2px solid #bababa;
					border-bottom: 2px solid #bababa;

				}
			}
		}
	}
}

#flip-token {
	background: url('../img/flip-token-bg.png') no-repeat scroll 0 0;
	width: 182px;
	height: 182px;
	position: absolute;
	top: 110px;
	left: 331px;
	z-index: 2;
	// -moz-box-shadow: 5px 5px 5px 10px #ccc;
	// -webkit-box-shadow: 5px 5px 5px 10px #ccc;
	// box-shadow: 5px 5px 5px 10px #ccc;

	span {
		@extend .font-josefin-semi-bold;
		font-size: 124px;
		width: 100%;
		text-align: center;
		line-height: 124px;
		padding-top: 10px;
		letter-spacing: -8px;
		margin-left: -6px;
		display: block;
	}
}

header {
	height: 174px;
	width: 100%;	
	margin:0 auto;
	position: relative;
	background: url('../img/top_grad.jpg') no-repeat center top;

		a, a:visited {
			@extend .font-josefin-bold-italic;
			color:#fff;
			text-decoration: none;
		}

		.headerinner{

			width: 663px;
			margin: 0 auto;
			clear: both;
			overflow: hidden;
		
			.lockup {
				width: 161px;
				height: 143px;
				padding-top: 30px;
				float: left;

			}

			.header-cta {
				float: left;
				width: 240px;
				padding: 50px 5px 0;

				&.wtf {
					text-align: right;
				}

				&.suggest {
					text-align: left;
				}
			}
		}


	
}

#main {
	width: 910px;
	margin: 35px auto 50px;


	.player {
		float: left;
		width: 380px;

		&#player1 {
			margin-right: 70px;
		}

		&#player2 {
			margin-left: 70px;
		}
	}
}
