/* _base.standard.scss */
html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	@extend .font-josefin-semi-bold;
	background-color:#222222;
	color:#fff;
}

h2 {
	font-size: 70px;
	width: 100%;
	text-align: center;
}


header {
	height: 100px;
	width: 100%;
	margin:0 auto;
	position: relative;
	z-index:2;
	background: url('../img/top_grad.jpg') no-repeat center top;

		a, a:visited {
			@extend .font-josefin-bold-italic;
			color:#fff;
			text-decoration: none;
		}

		.headerinner{
			position:relative;
			width: 800px;
			margin: 0 auto;
			clear: both;
			overflow: hidden;

			.lockup {
				width: 161px;
				height: 143px;
				padding-top: 10px;
				margin:0 auto;
			}

			.header-cta {
				float: left;
				width: 240px;
				padding: 50px 5px 0;

				&.wtf {
					text-align: right;
				}

				&.suggest {
					text-align: left;
				}
			}

			.score-heading {
				position:absolute;
				left:0;
				top:20px;
				font-size:28px;
				margin:0 0 20px 0;
				line-height:1;
				color:#ccc;
				text-align:center;
				font-style: italic;
				font-weight: normal;
				width: 280px;
				padding-top: 8px;

				&.player-2-score {
					left:auto;
					right:0;					
				}

				.score-player{
					font-size: 18px;
					line-height: 20px;
				}

				.score-score{
					font-size: 55px;
					font-weight: bold;
					line-height: 35px;
				}

				.score-remaining{
					display: block;
					font-size: 15px;
				}
			}
		}
}

#main {
	width: 910px;
	margin: 70px auto 50px;
	position: relative;
	z-index:1;

	.player {
		float: left;
		width: 380px;

		.score {
			color:#fff;
		}

		&#player1 {
			margin-right: 70px;
		}

		&#player2 {
			margin-left: 70px;
		}
	}
}
