

.card {
	$cornerRadius: 10px;
	 -moz-border-radius: $cornerRadius;
    -webkit-border-radius: $cornerRadius;
    -khtml-border-radius: $cornerRadius;
    border-radius: $cornerRadius;

	width: 364px;
	padding: 8px 8px 35px 8px;
	display: block;
	background: #fff no-repeat scroll 0 0;
	height: 480px;
	position:relative;

	h2 {
		@extend .font-josefin-bold;
		text-transform: uppercase;
		color:#000;
		line-height: 35px;
		font-size: 38px;
		text-align: center;
		margin: 0;
		padding: 0 15px;
		display:table-cell;
		vertical-align:middle;
		height:100px;
		width: 360px;
	}

	img {
    	float:left;
    	margin:0 22px;
    	border-color: #fff;
    	-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		width:160px;
		height:160px;
	}

	.bio {
		//float:left;
		display:table-cell;
		vertical-align:middle;
		width:150px;
		height:150px;
		padding:5px 0px;
		font-size:14px;
		font-style:italic;
		overflow:hidden;
		margin:0;
		color:#000;
		position:relative;

		p {
			width:150px;
			overflow:hidden;
			margin:0;
			padding:0;
		}
	}
/*
	p.bio:before {
		content:open-quote;
		font-size:72px;
		color:#999;
		position:absolute;
		left:0px;
		top:-10px;
	}

	p.bio:after {
		content:close-quote;
		font-size:72px;
		color:#999;
		position:absolute;
		right:0px;
		top:-10px;
	}
*/

	.card-details {
		position:absolute;
		top: 120px;
		left: 0;
		right:0;
	}


	ul.stats {
		position:absolute;
		bottom:50px;
		color: #000;
		margin: 26px 20px 0 20px;
		border-top: 1px solid #ccc;
		padding: 0;
		list-style: none;
		float: left;

		li {
			@include transition(background 0.2s ease-out);
			border-bottom: 1px solid #ccc;
			float: left;
			clear: both;
			width: 308px;
			height: 39px;
			position: relative;
			background-color:#fff;
			padding:0 6px;

			#player1 & {
				cursor: pointer;
			}

			#player1 &:hover {
				background-color: #f2b235;
				//padding: 0 12px;
				//width: 296px;
			}

			#player2 &:hover {
				background-color: #fa7a90;
			}

			&.selected {
				background-color:#ccc;
				@include transition(background-color 1s);
			}

			span {
				position: absolute;
				top: 8px;
				font-size: 19px;
			}

			.stat-val {
				right: 6px;
			}

		}
	}

	.card-back {
		background: url('../img/card-back.jpg') no-repeat scroll 0 0;
		width: 340px;
		height: 480px;
		display: block;
		margin: 12px 0 0 12px;

		p {
			padding: 0;
			margin: 0;
			position: absolute;
			color: #000;
			text-align: center;
			text-transform: uppercase;

			font-size: 32px;
			top: 278px;
			padding-top: 50px;
			padding-bottom: 50px;
			width: 336px;
			text-align: center;
			line-height: 34px;

			#player1 & {
				background: url('../img/card-back-p1-arrows.png') no-repeat scroll center 0;
			}

			#player2 & {
				background: url('../img/card-back-p2-arrows.png') no-repeat scroll center 0;
			}
		}
	}
}