

.card {
	$cornerRadius: 10px;
	 -moz-border-radius: $cornerRadius;
    -webkit-border-radius: $cornerRadius;
    -khtml-border-radius: $cornerRadius;
    border-radius: $cornerRadius;

	width: 364px;
	padding: 30px 8px 35px 8px;
	display: block;
	background: #fff no-repeat scroll 0 0;
	height: 530px;

	.portrait {
		margin-top: 31px;
		margin-left: 102px;
	}

	h2 {
		@extend .font-josefin-bold;
		text-transform: uppercase;
		color:#000;
		font-size: 38px;
		text-align: center;
		width: 100%;
		margin: 0;
		padding: 0;
		line-height: 40px;
		margin-bottom: 10px;
	}

	img {
    	float:left;
    	margin:0 22px;
    	border-color: #fff;
    	-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}

	p.bio {
		float:left;
		width:150px;
		height:160px;
		padding:5px 0px;
		font-size:14px;
		font-style:italic;
		overflow:hidden;
		margin:0;
		color:#000;
		position:relative;
	}
/*
	p.bio:before {
		content:open-quote;
		font-size:72px;
		color:#999;
		position:absolute;
		left:0px;
		top:-10px;
	}

	p.bio:after {
		content:close-quote;
		font-size:72px;
		color:#999;
		position:absolute;
		right:0px;
		top:-10px;
	}
*/
	ul {
		clear:both;
		color: #000;
		margin: 26px 20px 0 20px;
		padding: 0;
		list-style: none;
		float: left;

		li {
			@include transition(background 0.2s ease-out);
			border-bottom: 1px solid #ccc;
			float: left;
			clear: both;
			width: 320px;
			height: 39px;
			position: relative;

			#player1 & {
				cursor: pointer;
			}

			#player1 &:hover {
				background-color: #f2b235;
				padding: 0 12px;
				width: 296px;
			}

			#player2 &:hover {
				background-color: #fa7a90;
			}

			span {
				position: absolute;
				top: 6px;
				font-size: 19px;
			}

			.stat-val {
				right: 0;
			}

		}
	}

	.card-back {
		background: url('../img/card-back.jpg') no-repeat scroll 0 0;
		width: 340px;
		height: 530px;
		display: block;
		margin-left: 12px;

		p {
			padding: 0;
			margin: 0;
			position: absolute;
			color: #000;
			text-align: center;
			text-transform: uppercase;

			font-size: 32px;
			top: 328px;
			padding-top: 50px;
			padding-bottom: 50px;
			width: 336px;
			text-align: center;
			line-height: 34px;

			#player1 & {
				background: url('../img/card-back-p1-arrows.png') no-repeat scroll center 0;
			}

			#player2 & {
				background: url('../img/card-back-p2-arrows.png') no-repeat scroll center 0;
			}
		}
	}
}