

.card {
	$cornerRadius: 10px;
	 -moz-border-radius: $cornerRadius;
    -webkit-border-radius: $cornerRadius;
    -khtml-border-radius: $cornerRadius;
    border-radius: $cornerRadius;

	width: 370px;
	padding: 35px 10px 35px 8px;
	height: 608px;
	display: block;
	background: #fff no-repeat scroll 0 0;

	h2 {
		@extend .font-josefin-bold;
		text-transform: uppercase;
		color:#000;
		font-size: 40px;
		text-align: center;
		width: 100%;
		margin: 0;
	}

	dl {
		color:#000;
	}
}