/* _base.html5bp.scss */
/* HTML5 Boilerplate  */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/* _base.typography.scss */
.josefin, .font-josefin, .font-josefin-italic, .font-josefin-semi-bold, .font-josefin-semi-bold-italic, body, .font-josefin-bold, .font-josefin-bold-italic, header a, header a:visited, .card h2 {
  font-family: 'Josefin Slab', "Times New Roman", Times, serif; }

.font-josefin, .font-josefin-italic {
  font-weight: 400; }

.font-josefin-italic {
  font-style: italic; }

.font-josefin-semi-bold, .font-josefin-semi-bold-italic, body {
  font-weight: 600; }

.font-josefin-semi-bold-italic {
  font-style: italic; }

.font-josefin-bold, .font-josefin-bold-italic, header a, header a:visited, .card h2 {
  font-weight: 700; }

.font-josefin-bold-italic, header a, header a:visited {
  font-style: italic; }

/* _base.standard.scss */
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  background-color: #222222;
  color: #fff; }

h2 {
  font-size: 70px;
  width: 100%;
  text-align: center; }

header {
  height: 174px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: url("../img/top_grad.jpg") no-repeat center top; }
  header a, header a:visited {
    color: #fff;
    text-decoration: none; }
  header .headerinner {
    width: 663px;
    margin: 0 auto;
    clear: both;
    overflow: hidden; }
    header .headerinner .lockup {
      width: 161px;
      height: 143px;
      padding-top: 30px;
      float: left; }
    header .headerinner .header-cta {
      float: left;
      width: 240px;
      padding: 50px 5px 0; }
      header .headerinner .header-cta.wtf {
        text-align: right; }
      header .headerinner .header-cta.suggest {
        text-align: left; }

#main {
  width: 910px;
  margin: 35px auto 50px; }
  #main .player {
    float: left;
    width: 380px; }
    #main .player#player1 {
      margin-right: 70px; }
    #main .player#player2 {
      margin-left: 70px; }

.big-circle {
  width: 666px;
  height: 528px;
  display: block;
  background: url("../img/large-circle.png") no-repeat scroll 0 0;
  padding: 140px 0 0 0;
  margin: 0 auto;
  position: relative; }
  .big-circle h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
    color: #fff;
    position: relative;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 20px;
    width: 654px;
    min-height: 124px;
    margin-bottom: 30px; }
    .big-circle h2:before, .big-circle h2:after {
      width: 61px;
      height: 11px;
      display: block;
      content: '';
      background: url("../img/large-title-icons.png") no-repeat scroll 0 0;
      position: absolute;
      left: 300px; }
    .big-circle h2:before {
      top: 0; }
    .big-circle h2:after {
      bottom: 0;
      background-position: -61px 0; }
    .big-circle h2 span {
      clear: both;
      float: left;
      width: 100%; }
    .big-circle h2 span.large {
      font-size: 68px; }
    .big-circle h2 span.medium {
      margin-top: -12px;
      font-size: 29px; }
  .big-circle p {
    width: 510px;
    margin: 0 auto 15px;
    line-height: 28px; }
  .big-circle .controls {
    text-align: center;
    margin-bottom: 20px; }
    .big-circle .controls h3 {
      margin: 0 0 10px 0;
      padding: 0;
      font-size: 14px; }
    .big-circle .controls .button {
      width: 181px;
      height: 47px;
      display: block;
      background: url("../img/white-button.png") no-repeat scroll 0 0;
      text-transform: uppercase;
      font-size: 29px;
      font-weight: bold;
      display: inline-block;
      text-decoration: none;
      color: #000;
      padding-top: 5px; }
      .big-circle .controls .button.first {
        margin-right: 20px; }
  .big-circle .social {
    text-align: center; }
    .big-circle .social p {
      margin-bottom: 0; }

.card {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  width: 364px;
  padding: 30px 8px 35px 8px;
  display: block;
  background: #fff no-repeat scroll 0 0; }
  .card .portrait {
    margin-top: 31px;
    margin-left: 102px; }
  .card h2 {
    text-transform: uppercase;
    color: #000;
    font-size: 38px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 40px;
    margin-bottom: 10px; }
  .card img {
    margin-left: 22px; }
  .card ul {
    color: #000;
    margin: 26px 20px 0 20px;
    padding: 0;
    list-style: none;
    float: left; }
    .card ul li {
      border-bottom: 1px solid #ccc;
      float: left;
      clear: both;
      width: 320px;
      height: 39px;
      position: relative;
      cursor: pointer; }
      .card ul li:hover {
        background-color: #f2b235;
        padding: 0 12px;
        width: 296px; }
      .card ul li span {
        position: absolute;
        top: 6px;
        font-size: 19px; }
      .card ul li .stat-val {
        right: 0; }

/* _base.html5bp.mobile.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
